Repository resty-admin/client: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:staged, yarn run slint:staged, transloco-validator

Feat: i18n
  src/app/core/configs/i18n.config.ts
  src/app/core/configs/image.config.ts
  src/app/shared/modules/cookies/components/cookies-toastr/cookies-toastr.component.html
  src/app/shared/modules/i18n/transloco/loaders/transloco-http.loader.ts
Due: yarn run lint:staged

Feat: i18n
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/configs/i18n.config.ts
Due: yarn run lint:staged

feat: theme and translates
  src/app/core/components/aside/aside.component.scss
  src/app/core/components/footer/footer.component.scss
  src/app/core/layout/core.component.html
  src/app/core/layout/core.component.ts
  src/app/core/pages/client/pages/active-orders/layout/active-orders.component.scss
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/create-order/layout/create-order.component.scss
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/app/features/auth/services/auth/auth.service.ts
  src/app/features/orders/ui/basket/layout/basket.component.ts
  src/app/features/products/ui/confirm-product/layout/confrim-product.component.scss
  src/app/shared/ui/counter/layout/counter.component.scss
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.scss
  src/app/shared/ui/theme-toggle/layout/theme-toggle.component.html
  src/app/shared/ui/theme-toggle/layout/theme-toggle.component.scss
  src/assets/scss/styles/button.scss
  src/assets/scss/variables/colors.variable.scss
Due: yarn run lint:staged, yarn run slint:staged

fix
  src/app/core/configs/socket-io.config.ts
  src/environments/environment.dev.example.ts
  src/environments/environment.prod.example.ts
Due: yarn run lint:staged

fix
  src/app/core/configs/socket-io.config.ts
Due: yarn run lint:staged

fix: products
  graphql.schema.json
  src/app/core/pages/auth/pages/sign-up/layout/sign-up.component.ts
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.html
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.scss
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/products/layout/products.component.html
  src/app/core/pages/client/pages/products/layout/products.component.scss
  src/app/core/pages/client/pages/products/layout/products.component.ts
  src/app/features/orders/repositories/orders/orders.repository.ts
  src/app/features/orders/services/orders/orders.service.ts
  src/app/features/products/ui/index.ts
  src/app/features/products/ui/product-dialog/index.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.scss
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.spec.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.ts
  src/app/features/products/ui/product-dialog/product-dialog.module.ts
  src/graphql.ts
Due: yarn run lint:staged, yarn run slint:staged

feat: attributes
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.graphql
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.ts
  src/app/core/pages/client/pages/active-order/resolvers/active-order-page/active-order-page.resolver.ts
  src/app/core/pages/client/pages/products/graphql/products-page.graphql
  src/app/core/pages/client/pages/products/graphql/products-page.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.ts
  src/app/features/products/ui/product-dialog/product-dialog.module.ts
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.ts
  src/app/shared/ui/radio-button/layout/radio-button.component.html
Due: yarn run lint:staged

Feat: dev
  graphql.schema.json
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.graphql
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.ts
  src/app/core/pages/client/pages/payment-status/graphql/payment-status-page.graphql
  src/app/core/pages/client/pages/payment-status/graphql/payment-status-page.ts
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.graphql
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.ts
  src/graphql.ts
Due: yarn run lint:staged

Feat: attributes
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
Due: yarn run lint:staged

Fix: client
  src/app/core/layout/core.component.ts
Due: yarn run lint:staged

feat: client
  src/app/core/layout/core.component.ts
  src/app/features/auth/services/auth/auth.service.ts
  src/app/shared/ui/radio-button/layout/radio-button.component.scss
  src/assets/icons/profile.svg
Due: yarn run lint:staged, yarn run slint:staged

feat: delay
  src/app/shared/modules/i18n/loaders/transloco-http.loader.ts
Due: yarn run lint:staged

Feat: dev
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/components/footer/footer.component.html
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/products/layout/products.component.ts
  src/app/features/app/services/actions/actions.service.ts
  src/app/features/orders/ui/order-info/layout/order-info.component.html
  src/app/features/products/ui/preview-product/interfaces/product-input.interface.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.scss
  src/app/features/products/ui/product-to-order/interfaces/product-to-order-input.interface.ts
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.html
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.scss
  src/app/features/products/ui/products-to-order-select/interfaces/product-to-order-to-select-input.interface.ts
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.ts
Due: yarn run lint:staged, yarn run slint:staged

Feat: client
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/layout/core.component.ts
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.graphql
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/products/layout/products.component.ts
  src/app/core/pages/client/pages/products/resolvers/products-page/products-page.resolver.ts
  src/app/features/products/ui/preview-product-skeleton/layout/preview-product-skeleton.component.html
  src/app/features/products/ui/preview-product-skeleton/layout/preview-product-skeleton.component.scss
  src/app/features/products/ui/preview-product/components/product-with-attributes/product-with-attributes.component.html
  src/app/features/products/ui/preview-product/components/product-with-attributes/product-with-attributes.component.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.ts
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.html
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.ts
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.scss
  src/app/shared/ui/radio-button/layout/radio-button.component.scss
Due: yarn run lint:staged, yarn run slint:staged

Feat: client
  src/app/core/pages/client/pages/connect-to-table/components/index.ts
  src/app/core/pages/client/pages/connect-to-table/components/redirect-confirmation/redirect-confirmation.component.html
  src/app/core/pages/client/pages/connect-to-table/components/redirect-confirmation/redirect-confirmation.component.scss
  src/app/core/pages/client/pages/connect-to-table/components/redirect-confirmation/redirect-confirmation.component.spec.ts
  src/app/core/pages/client/pages/connect-to-table/components/redirect-confirmation/redirect-confirmation.component.ts
  src/app/core/pages/client/pages/connect-to-table/connect-to-table.module.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/features/commands/ui/commands-dialog/layout/commands-dialog.component.html
  src/app/features/commands/ui/commands-dialog/layout/commands-dialog.component.ts
  src/app/features/places/ui/preview-place/layout/preview-place.component.html
Due: yarn run lint:staged, yarn run slint:staged

feat: dev
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/connect-to-order/layout/connect-to-order.component.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/core/pages/client/pages/create-order/layout/create-order.component.html
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/app/core/pages/client/pages/products/layout/products.component.ts
Due: yarn run lint:staged

fix: amount
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.graphql
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.ts
  src/app/core/pages/client/pages/payment-type/layout/payment-type.component.ts
Due: yarn run lint:staged

Feat: dev
  src/app/core/components/aside/aside.component.html
Due: none

Fix: orders
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/layout/core.component.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/connect-to-order/layout/connect-to-order.component.ts
  src/app/core/pages/client/pages/products/layout/products.component.ts
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/shared/ui/ios-datepicker-dialog/layout/ios-datepicker-dialog.component.html
Due: yarn run lint:staged

Fix: client
  .graphqlconfig
  README.md
  codegen.ts
  nginx.conf
  server.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/features/products/ui/preview-product/layout/preview-product.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.html
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.ts
  src/app/features/products/ui/products-to-order-select/layout/products-to-order-select.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.scss
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.ts
  src/app/shared/ui/radio-button/layout/radio-button.component.html
  src/app/shared/ui/radio-button/layout/radio-button.component.scss
Due: yarn run lint:staged, yarn run slint:staged

fix: autozoom
  src/app/shared/ui/input/layout/input.component.scss
Due: yarn run slint:staged

fix: client
  .graphqlconfig
  README.md
  codegen.ts
  graphql.schema.json
  nginx.conf
  server.ts
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.graphql
  src/app/core/pages/client/pages/active-order/graphql/active-order-page.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.scss
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/history-order/graphql/history-order-page.graphql
  src/app/core/pages/client/pages/history-order/graphql/history-order-page.ts
  src/app/core/pages/client/pages/history-order/history-order.module.ts
  src/app/core/pages/client/pages/history-order/layout/history-order.component.html
  src/app/core/pages/client/pages/history-order/layout/history-order.component.scss
  src/app/core/pages/client/pages/history-order/layout/history-order.component.ts
  src/app/core/pages/client/pages/history-order/resolvers/history-order-page/history-order-page.resolver.ts
  src/app/core/pages/client/pages/history-orders/graphql/history-orders-page.graphql
  src/app/core/pages/client/pages/history-orders/graphql/history-orders-page.ts
  src/app/core/pages/client/pages/history-orders/layout/history-orders.component.ts
  src/app/core/pages/client/pages/history-orders/resolvers/history-orders-page/history-orders-page.resolver.ts
  src/app/features/orders/ui/order-info/interfaces/order-info.interface.ts
  src/app/features/orders/ui/order-info/layout/order-info.component.html
  src/app/features/orders/ui/order-info/layout/order-info.component.scss
  src/app/features/orders/ui/order-info/layout/order-info.component.ts
  src/app/features/orders/ui/preview-order/layout/preview-order.component.html
  src/app/features/orders/ui/preview-order/preview-order.module.ts
  src/app/shared/modules/pipes/pipes/index.ts
  src/app/shared/modules/pipes/pipes/price.pipe.ts
  src/graphql.ts
Due: yarn run lint:staged, yarn run slint:staged

fix: client
  src/app/core/pages/client/pages/payment-type/layout/payment-type.component.html
Due: none

fix: products ui
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.scss
Due: yarn run slint:staged

fix: payment
  src/app/core/pages/client/pages/payment-status/layout/payment-status.component.html
  src/app/core/pages/client/pages/payment-status/layout/payment-status.component.ts
Due: yarn run lint:staged

fix: payment and disable payment button
  .graphqlconfig
  README.md
  codegen.ts
  nginx.conf
  server.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/payment-status/layout/payment-status.component.ts
Due: yarn run lint:staged

fix: table datepicker
  src/app/core/pages/client/pages/table/layout/table.component.html
  src/app/core/pages/client/pages/table/layout/table.component.ts
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.html
  src/main.ts
Due: yarn run lint:staged

fix: table
  src/app/core/pages/client/pages/table/layout/table.component.ts
Due: yarn run lint:staged

fix: table
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
Due: yarn run lint:staged

fix: orders-events
  .graphqlconfig
  README.md
  codegen.ts
  graphql.schema.json
  nginx.conf
  server.ts
  src/graphql.ts
Due: yarn run lint:staged

Fix: history orders
  src/app/core/pages/client/pages/history-order/layout/history-order.component.ts
Due: yarn run lint:staged

Fix: history orders
  src/app/features/orders/ui/order-info/layout/order-info.component.ts
Due: yarn run lint:staged

fix: dayjs
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/table/layout/table.component.html
  src/app/core/pages/client/pages/table/layout/table.component.ts
  src/app/features/orders/ui/order-info/layout/order-info.component.ts
  src/app/shared/constants/dayjs-display-format.constant.ts
  src/app/shared/constants/index.ts
  src/main.ts
Due: yarn run lint:staged

fix: confirm products
  src/app/core/pages/client/pages/confirm-products/layout/confirm-products.component.ts
  src/app/core/pages/client/pages/confirm-products/resolvers/confirm-products-page/confirm-products-page.resolver.ts
Due: yarn run lint:staged

Fix: commands
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/features/commands/graphql/commands.graphql
  src/app/features/commands/graphql/commands.ts
  src/app/features/commands/graphql/index.ts
  src/app/features/commands/services/commands/commands.service.ts
  src/app/features/commands/ui/commands-dialog/layout/commands-dialog.component.ts
  src/app/features/products/ui/confirm-product/layout/confrim-product.component.html
  src/app/features/products/ui/confirm-product/layout/confrim-product.component.scss
  src/app/features/products/ui/preview-product/components/product-without-attributes/product-without-attributes.component.scss
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.scss
Due: yarn run lint:staged, yarn run slint:staged

fix: dev
  graphql.schema.json
  src/app/features/commands/graphql/commands.graphql
  src/app/features/commands/graphql/commands.ts
  src/app/features/commands/services/commands/commands.service.ts
  src/graphql.ts
Due: yarn run lint:staged

fix: dev
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
Due: yarn run lint:staged

Path conditions:
  yarn run lint:staged: any of: *.{js,jsx,ts,tsx}
  yarn run slint:staged: any of: *.{css,scss}
  transloco-validator: any of: src/assets/i18n/*.json
