Repository resty-admin/client: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:staged, yarn run slint:staged, transloco-validator

fix: dev
  .graphqlconfig
  README.md
  codegen.ts
  nginx.conf
  server.ts
  src/app/core/components/aside/aside.component.html
  src/app/core/components/aside/aside.component.ts
  src/app/core/pages/client/client.module.ts
  src/app/core/pages/client/components/demo/demo.component.html
  src/app/core/pages/client/components/demo/demo.component.scss
  src/app/core/pages/client/components/demo/demo.component.spec.ts
  src/app/core/pages/client/components/demo/demo.component.ts
  src/app/core/pages/client/components/index.ts
  src/app/core/pages/client/layout/client.component.ts
  src/app/core/pages/client/pages/connect-to-order/layout/connect-to-order.component.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/core/pages/client/pages/referral-link/layout/referral-link.component.ts
  src/app/features/orders/ui/order-info/layout/order-info.component.ts
  src/app/shared/ui/toastr/components/toastr-error/toastr-error.component.html
  src/assets/icons/error.svg
  src/assets/icons/info.svg
Due: yarn run lint:staged, yarn run slint:staged

fix: ui/ux
  src/app/core/pages/client/components/demo/demo.component.scss
  src/app/core/pages/client/pages/active-order/components/index.ts
  src/app/core/pages/client/pages/active-order/components/waiting-for-confirm/waiting-for-confirm.component.html
  src/app/core/pages/client/pages/active-order/components/waiting-for-confirm/waiting-for-confirm.component.scss
  src/app/core/pages/client/pages/active-order/components/waiting-for-confirm/waiting-for-confirm.component.spec.ts
  src/app/core/pages/client/pages/active-order/components/waiting-for-confirm/waiting-for-confirm.component.ts
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/profile/layout/profile.component.scss
  src/app/features/commands/ui/commands-dialog/layout/commands-dialog.component.scss
  src/app/features/products/ui/product-dialog/layout/product-dialog.component.scss
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.html
  src/app/features/products/ui/product-to-order/layout/product-to-order.component.scss
  src/app/shared/ui/confirmation-dialog/layout/confirmation-dialog.component.html
  src/app/shared/ui/multiple-checkbox/layout/multiple-checkbox.component.scss
  src/app/shared/ui/radio-button/layout/radio-button.component.scss
  src/assets/icons/time.svg
  src/assets/images/dark/active-order.png
  src/assets/images/dark/active-orders.png
  src/assets/images/dark/category.png
  src/assets/images/dark/connect-to-table.png
  src/assets/images/dark/hall.png
  src/assets/images/dark/place.png
  src/assets/images/dark/product.png
  src/assets/images/dark/referral-link.png
  src/assets/images/dark/table.png
  src/assets/images/dark/tips.png
  src/assets/images/light/time.png
Due: yarn run lint:staged, yarn run slint:staged

fix: client
  src/app/features/products/ui/preview-product/components/product-with-attributes/product-with-attributes.component.scss
  src/app/features/products/ui/preview-product/layout/preview-product.component.scss
Due: yarn run slint:staged

fix
  client.dev.k8s.yaml
Due: none

fix: client
  .graphqlconfig
  README.md
  codegen.ts
  server.ts
  src/app/core/pages/client/pages/places/layout/places.component.html
  src/assets/icons/google.svg
Due: yarn run lint:staged

fix: client
  src/app/core/pages/client/pages/places/layout/places.component.html
Due: none

fix: semitext
  src/app/core/layout/core.component.ts
  src/index.html
  src/types/strum.d.ts
Due: yarn run lint:staged

fix: dev
  graphql.schema.json
  src/app/core/pages/client/pages/connect-to-table/graphql/connect-to-table-page.graphql
  src/app/core/pages/client/pages/connect-to-table/graphql/connect-to-table-page.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/core/pages/client/pages/create-order/graphql/create-order-page.graphql
  src/app/core/pages/client/pages/create-order/graphql/create-order-page.ts
  src/app/core/pages/client/pages/create-order/layout/create-order.component.html
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.graphql
  src/app/core/pages/client/pages/payment-type/graphql/payment-type-page.ts
  src/app/core/pages/client/pages/payment-type/layout/payment-type.component.html
  src/app/core/pages/client/pages/payment-type/layout/payment-type.component.ts
  src/app/shared/data/order-types.data.ts
  src/app/shared/data/payment-types.data.ts
  src/app/shared/interfaces/order/order-type.interface.ts
  src/graphql.ts
  src/index.html
Due: yarn run lint:staged

fix: auth
  src/app/core/pages/auth/layout/auth.component.html
  src/app/core/pages/auth/pages/forgot-password/layout/forgot-password.component.html
  src/app/core/pages/auth/pages/forgot-password/layout/forgot-password.component.ts
  src/app/core/pages/auth/pages/reset-password/layout/reset-password.component.html
  src/app/core/pages/auth/pages/reset-password/layout/reset-password.component.ts
  src/app/core/pages/auth/pages/sign-in/layout/sign-in.component.html
  src/app/core/pages/auth/pages/sign-in/layout/sign-in.component.ts
  src/app/core/pages/auth/pages/sign-up/layout/sign-up.component.html
  src/app/core/pages/auth/pages/sign-up/layout/sign-up.component.ts
  src/app/core/pages/auth/pages/verification-code/layout/verification-code.component.html
  src/app/core/pages/auth/pages/verification-code/layout/verification-code.component.ts
  src/app/features/auth/services/auth/auth.service.ts
  src/app/features/orders/ui/basket/layout/basket.component.scss
  src/app/shared/ui/input/layout/input.component.html
  src/app/shared/ui/input/layout/input.component.scss
Due: yarn run lint:staged, yarn run slint:staged

fix: timepicker
  graphql.schema.json
  src/app/core/pages/client/pages/active-order/layout/active-order.component.scss
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/table/graphql/table-page.graphql
  src/app/core/pages/client/pages/table/graphql/table-page.ts
  src/app/core/pages/client/pages/table/layout/table.component.html
  src/app/core/pages/client/pages/table/layout/table.component.ts
  src/app/features/orders/ui/order-info/layout/order-info.component.html
  src/app/features/orders/ui/order-info/layout/order-info.component.scss
  src/app/features/orders/ui/order-info/layout/order-info.component.ts
  src/app/shared/ui/ios-datepicker-dialog/graphql/index.ts
  src/app/shared/ui/ios-datepicker-dialog/graphql/is-available.graphql
  src/app/shared/ui/ios-datepicker-dialog/graphql/is-available.ts
  src/app/shared/ui/ios-datepicker-dialog/layout/ios-datepicker-dialog.component.html
  src/app/shared/ui/ios-datepicker-dialog/layout/ios-datepicker-dialog.component.ts
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.html
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.scss
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.ts
  src/graphql.ts
Due: yarn run lint:staged, yarn run slint:staged

fix: client
  src/app/features/auth/services/auth/auth.service.ts
Due: yarn run lint:staged

fix: dev
  .graphqlconfig
  codegen.ts
  graphql.schema.json
  server.ts
  src/app/core/components/aside/aside.component.html
  src/app/core/pages/auth/pages/forgot-password/layout/forgot-password.component.ts
  src/app/core/pages/auth/pages/google/layout/google.component.ts
  src/app/core/pages/auth/pages/reset-password/layout/reset-password.component.ts
  src/app/core/pages/auth/pages/sign-in/layout/sign-in.component.html
  src/app/core/pages/auth/pages/sign-in/layout/sign-in.component.ts
  src/app/core/pages/auth/pages/sign-in/sign-in.module.ts
  src/app/core/pages/auth/pages/sign-up/layout/sign-up.component.html
  src/app/core/pages/auth/pages/sign-up/layout/sign-up.component.ts
  src/app/core/pages/auth/pages/sign-up/sign-up.module.ts
  src/app/core/pages/auth/pages/telegram/layout/telegram.component.ts
  src/app/core/pages/auth/pages/verification-code/layout/verification-code.component.html
  src/app/core/pages/auth/pages/verification-code/layout/verification-code.component.ts
  src/app/core/pages/client/layout/client.component.ts
  src/app/features/auth/graphql/auth.graphql
  src/app/features/auth/graphql/auth.ts
  src/app/features/auth/guards/auth/auth.guard.ts
  src/app/features/auth/services/auth/auth.service.ts
  src/app/shared/ui/login-with-telegram/index.ts
  src/app/shared/ui/login-with-telegram/layout/login-with-telegram.component.html
  src/app/shared/ui/login-with-telegram/layout/login-with-telegram.component.scss
  src/app/shared/ui/login-with-telegram/layout/login-with-telegram.component.spec.ts
  src/app/shared/ui/login-with-telegram/layout/login-with-telegram.component.ts
  src/app/shared/ui/login-with-telegram/login-with-telegram.module.ts
  src/graphql.ts
Due: yarn run lint:staged, yarn run slint:staged

fix: dev
  src/app/shared/ui/login-with-telegram/layout/login-with-telegram.component.ts
Due: yarn run lint:staged

fix: dev
  src/app/core/pages/auth/pages/verification-code/layout/verification-code.component.ts
  src/app/features/auth/guards/auth/auth.guard.ts
Due: yarn run lint:staged

fix: dev
  src/app/shared/modules/localforage/services/localforage/localforage.service.spec.ts
Due: yarn run lint:staged

fix: client
  src/app/core/pages/client/pages/active-order/layout/active-order.component.ts
  src/app/core/pages/client/pages/active-order/resolvers/active-order-page/active-order-page.resolver.ts
Due: yarn run lint:staged

fix
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  client.dev.k8s.yaml
  client.k8s.yaml
Due: none

feat: place settings
  graphql.schema.json
  src/app/core/layout/core.component.ts
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/graphql.ts
Due: yarn run lint:staged

feat: place settings
  src/app/core/layout/core.component.ts
Due: yarn run lint:staged

feat: place settings
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/app/shared/data/pages.data.ts
  src/app/shared/ui/ios-datepicker/layout/ios-datepicker.component.scss
  src/assets/icons/orders.svg
Due: yarn run lint:staged, yarn run slint:staged

fix: bugs
  graphql.schema.json
  src/app/core/pages/client/pages/active-order/resolvers/active-order-page/active-order-page.resolver.ts
  src/app/core/pages/client/pages/active-orders/resolvers/active-orders-page/active-orders-page.resolver.ts
  src/app/core/pages/client/pages/payment-type/layout/payment-type.component.ts
  src/app/features/orders/graphql/orders.graphql
  src/app/features/orders/graphql/orders.ts
  src/app/features/orders/repositories/orders/orders.repository.ts
  src/app/features/orders/services/orders/orders.service.ts
  src/app/shared/data/payment-types.data.ts
  src/app/shared/enums/orders/payment-type.enum.ts
  src/graphql.ts
Due: yarn run lint:staged

fix: bugs
  src/app/core/pages/client/pages/history-orders/layout/history-orders.component.scss
Due: yarn run slint:staged

fix: logs
  src/app/core/layout/core.component.ts
Due: yarn run lint:staged

fix: connect-to-table
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
Due: yarn run lint:staged

fix: string code to number
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
Due: yarn run lint:staged

fix: string code to number
  src/app/core/pages/client/pages/connect-to-order/layout/connect-to-order.component.ts
Due: yarn run lint:staged

fix
  client.k8s.yaml
Due: none

fix: telegram redirect
  src/app/core/pages/auth/pages/telegram/layout/telegram.component.ts
  src/app/features/auth/guards/auth/auth.guard.ts
Due: yarn run lint:staged

fix: minor bugs
  .graphqlconfig
  codegen.ts
  graphql.schema.json
  package.json
  server.ts
  src/app/core/core.module.ts
  src/app/core/layout/core.component.ts
  src/app/core/pages/auth/pages/telegram/layout/telegram.component.ts
  src/app/core/pages/client/pages/active-orders/graphql/active-orders-page.graphql
  src/app/core/pages/client/pages/active-orders/graphql/active-orders-page.ts
  src/app/core/pages/client/pages/connect-to-table/graphql/connect-to-table-page.graphql
  src/app/core/pages/client/pages/connect-to-table/graphql/connect-to-table-page.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/core/pages/client/pages/history-orders/graphql/history-orders-page.graphql
  src/app/core/pages/client/pages/history-orders/graphql/history-orders-page.ts
  src/app/core/pages/client/pages/places/graphql/places-pages.graphql
  src/app/core/pages/client/pages/places/graphql/places-pages.ts
  src/app/features/orders/ui/preview-order/interfaces/order-preview.interface.ts
  src/app/features/orders/ui/preview-order/layout/preview-order.component.html
  src/app/features/places/ui/preview-place/interfaces/preview-place.interface.ts
  src/app/features/places/ui/preview-place/layout/preview-place.component.html
  src/app/features/places/ui/preview-place/layout/preview-place.component.scss
  src/app/features/places/ui/preview-place/layout/preview-place.component.ts
  src/graphql.ts
  yarn.lock
Due: yarn run lint:staged, yarn run slint:staged

fix: minor
  .graphqlconfig
  codegen.ts
  server.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.html
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.scss
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
  src/app/core/pages/client/pages/history-order/layout/history-order.component.html
  src/app/core/pages/client/pages/history-order/layout/history-order.component.ts
  src/app/features/places/ui/preview-place/layout/preview-place.component.ts
Due: yarn run lint:staged, yarn run slint:staged

fix: refactor
  Dockerfile
  Dockerfile.dev
  graphql.schema.json
  src/app/core/components/index.ts
  src/app/core/core.module.ts
  src/app/core/layout/core.component.html
  src/app/core/layout/core.component.scss
  src/app/core/layout/core.component.ts
  src/app/core/pages/client/client.module.ts
  src/app/core/pages/client/components/aside/aside.component.html
  src/app/core/pages/client/components/aside/aside.component.scss
  src/app/core/pages/client/components/aside/aside.component.spec.ts
  src/app/core/pages/client/components/aside/aside.component.ts
  src/app/core/pages/client/components/footer/footer.component.html
  src/app/core/pages/client/components/footer/footer.component.scss
  src/app/core/pages/client/components/footer/footer.component.spec.ts
  src/app/core/pages/client/components/footer/footer.component.ts
  src/app/core/pages/client/components/header/interfaces/header-active-order.interface.ts
  src/app/core/pages/client/components/header/interfaces/header-user.interface.ts
  src/app/core/pages/client/components/header/interfaces/index.ts
  src/app/core/pages/client/components/header/layout/header.component.html
  src/app/core/pages/client/components/header/layout/header.component.scss
  src/app/core/pages/client/components/header/layout/header.component.spec.ts
  src/app/core/pages/client/components/header/layout/header.component.ts
  src/app/core/pages/client/components/index.ts
  src/app/core/pages/client/layout/client.component.html
  src/app/core/pages/client/layout/client.component.scss
  src/app/core/pages/client/layout/client.component.ts
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.scss
  src/app/core/pages/client/pages/history-order/graphql/history-order-page.ts
  src/app/core/pages/client/pages/history-order/layout/history-order.component.html
  src/app/core/pages/client/pages/history-order/layout/history-order.component.scss
  src/app/core/pages/client/pages/history-orders/graphql/history-orders-page.ts
  src/app/core/pages/client/pages/referral-link/layout/referral-link.component.ts
  src/app/core/pages/client/pages/table/graphql/table-page.graphql
  src/app/core/pages/client/pages/table/graphql/table-page.ts
  src/app/core/pages/client/pages/table/layout/table.component.html
  src/app/core/pages/client/pages/table/layout/table.component.ts
  src/app/features/orders/ui/preview-order/interfaces/order-preview.interface.ts
  src/graphql.ts
Due: yarn run lint:staged, yarn run slint:staged

fix: table
  src/app/core/pages/client/pages/table/layout/table.component.ts
Due: yarn run lint:staged

fix: table
  src/app/core/pages/client/pages/connect-to-table/layout/connect-to-table.component.ts
Due: yarn run lint:staged

timezone: fix
  src/app/core/pages/client/pages/create-order/layout/create-order.component.ts
  src/app/core/pages/client/pages/table/layout/table.component.ts
  src/app/shared/ui/ios-datepicker-dialog/layout/ios-datepicker-dialog.component.ts
  src/main.ts
Due: yarn run lint:staged

timezone: fix
  src/app/core/pages/client/pages/table/layout/table.component.ts
Due: yarn run lint:staged

Path conditions:
  yarn run lint:staged: any of: *.{js,jsx,ts,tsx}
  yarn run slint:staged: any of: *.{css,scss}
  transloco-validator: any of: src/assets/i18n/*.json
